#fondo {
    width: 400px;
    height: 300px;
    background:#6592CF;
}
#h1 {
    width: 250px;
    height: 250px;
    background:#243D83;
    margin: 17px 0px 0px 67px;
    position: absolute;
}
#h2 {
    width: 150px;
    height: 150px;
    background:#6592CF;
    position: absolute;
    margin: 67px 0px 0px 117px;
    transform:rotate(15deg);
}
#h3 {
    width: 75px;
    height: 75px;
    background:#243D83;
    position: absolute;
    margin: 105px 0px 0px 155px;
    transform:rotate(30deg);
}